@import "node_modules/ol/ol.css";

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
  background-color: rgb(208, 218, 207);
}

#map {
  /* margin-left: 18%; */
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

.flex-container {
  width: 18%;
  position: fixed;
  top: 0;
  left: 0;
  gap: 30px;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

.flex-1 {
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  border-color: black;
  border-bottom: 2px;

}

#feature-name {
  background-color: rgba(85, 85, 85, 0.712);
  width: 150px;
  color: #fff;
  text-align: center;
  border-radius: 1px;
  padding: 2px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -80px;
  border-radius: 20px ;
}

#main_con {
  top: 20px;
  left: 5%;
  position: absolute;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

#draw_button_con {
  visibility: hidden;
  bottom: 5%;
  right: 5%;
  position: absolute;
}

.dropdown {
  margin-right: 5px;
}

